// Specific CSS for your home-page
.banner {
  height: 629px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: url(https://images.pexels.com/photos/712618/pexels-photo-712618.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center; 
  background-size: cover;
}

.banner-content {
  padding-top: 200px;
}

.banner-content p {
  font-size: 26px;
  background-color: rgba(102, 102, 241, 0.678);
  width: 630px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.banner-content .ap-input-icon svg {
  position: absolute;
  right: 800%;
  top: 40%;
}

.banner-content .ap-dataset-places {
  background-color: lightgrey;
}