  <div class="footer .container">

    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

    <div class="footer-copyright">
      This market place has been made as a project during Le Wagon's bootcamp
    </div>

  </div>