<div class="container text-center" >
<h1>Homepage</h3>
<p>Enter a location to find car to rent near you</p>
<form class="form-inline d-flex justify-content-center mb-5 mt-0 d-flex justify-content-center">
            <i class="fas fa-search active" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
          </form>
</div>