<div class="text-center" >
  <div class="banner" style="">
    <div class="banner-content container">
      <p>Enter your location to find rental cars near you</p>
      <form action="cars" method="get" class="form-inline d-flex justify-content-center mb-5 mt-0">
        <!-- <i class="fas fa-search active" aria-hidden="true"></i> -->
        <input id="autocomplete" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" name="search" aria-label="Search">
        <input type="submit" value="search">
      </form>
    </div>
  </div>
</div>


<form novalidate="novalidate" class="simple_form search form-inline d-flex justify-content-center mb-5 mt-0" action="cars" accept-charset="UTF-8" method="get">
<input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group ml-3 w-75">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>

  <div class="footer">

    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

    <div class="footer-copyright">
      This market place has been made as a project during Le Wagon's bootcamp
    </div>

  </div>