<div class="text-center" >
  <div class="banner" style="">
    <div class="banner-content container">
      <p>Enter your location to find rental cars near you</p>
      <form action="cars" method="get" class="form-inline d-flex justify-content-center mb-5 mt-0">
        <!-- <i class="fas fa-search active" aria-hidden="true"></i> -->
        <input id="autocomplete" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" name="search" aria-label="Search">
        <input class="search" type="submit" value="search">
      </form>
    </div>
  </div>
</div>


  <div class="footer">

    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>

    <div class="footer-copyright">
      This market place has been made as a project during Le Wagon's bootcamp
    </div>

  </div>