.container {
  width: 900px;
  margin: 0 auto;
}

.insert_car{
  color: black;
  background-color: white;;
  border-radius: 20px;
  border: 1px solid black;
  text-decoration: none !important;
  padding: 6px 15px;
  font-size: 16px;
  font-weight: initial;
}

.insert_car:hover {
  color: grey;
  border: 1px solid grey;
  background-color: white;
}

.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-collapse:hover {
  cursor: pointer;
}

.logo-words {
  color: black;
  font-family: 'Lexend Peta', sans-serif;
  margin-bottom: 0;
  font-weight: bold;
}
.navbar-right {
  display: flex;
  justify-content: space-around;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-actions {
  color: black;
  background-color: white;;
  border-radius: 20px;
  border: 1px solid black;
  text-decoration: none !important;
  padding: 6px 15px;
  padding: 0 0 0 403px;
  font-size: 16px;
  font-weight: initial;
}

.forms-actions:hover{
  color: grey;
  border: 1px solid grey;
  background-color: white;
}