.container {
  width: 900px;
  margin: 0 auto;
}

.insert_car {
  color: white;
  background-color: rgb(133, 129, 129);
  border-radius: 5px;
  text-decoration: none !important;
  padding: 3px;
  font-size: 1.15rem;
  font-weight: bold;
}

.insert_car:hover {
  color: rgb(133, 129, 129);
  background-color: white;
  border: 2px solid rgb(133, 129, 129);
  transition-duration: 0.5s;
}

.navbar-lewagon {
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-collapse:hover {
  cursor: pointer;
}

.logo-words {
  color: black;
  font-family: 'Lexend Peta', sans-serif;
  margin-bottom: 0;
  font-weight: bold;
}
.navbar-right {
  display: flex;
  justify-content: space-around;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}