<ul>
  <%if @cars.empy %>
    <%= puts "We are sorry, in #{@cars.city} there are not cars available"%>
    <%else %>
  <% @cars.each do |car| %>
    <li><%= link_to car.model, car_path(car) , class: "insert_car" %></li>
  <% end %>
  <% end %>
</ul>


<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url(----cloudinary)">
    rent??
  </div>