<ul>
  <%if @cars.empty?%>
    <%= puts "We are sorry, in #{@city} there are not cars available"%>
    <%else %>
  <% @cars.each do |car| %>
    <li><%= link_to car.model, car_path(car) , class: "insert_car" %></li>
    <div class="cards">
      <div class="card-category d-inline-flex" style="background-image: linear-gradient(rgba(0,0,0,0.3)">
        <%= cl_image_tag(car.photo.key,
              width: 400, height: 300, crop: :fill) %>
      </div>
    </div>
  <% end %>
  <% end %>
</ul>


